.custom-option:hover {
  --card-backdrop-color: rgba(19, 20, 27, 0.5);
  --card-focus-ring-color: #596ffc;
  --card-shadow-outline-color: rgba(117, 123, 150, 0.4);
  --card-shadow-umbra-color: rgba(0, 0, 0, 0.2);
  --card-shadow-penumbra-color: rgba(0, 0, 0, 0.14);
  --card-shadow-ambient-color: rgba(0, 0, 0, 0.12);
  --card-accent-fg-color: #9887bb;
  --card-avatar-gray-bg-color: #757b96;
  --card-avatar-gray-fg-color: #383e59;
  --card-avatar-blue-bg-color: #596ffc;
  --card-avatar-blue-fg-color: #2433f9;
  --card-avatar-purple-bg-color: #925bf0;
  --card-avatar-purple-fg-color: #5425e1;
  --card-avatar-magenta-bg-color: #e82c6d;
  --card-avatar-magenta-fg-color: #d21133;
  --card-avatar-red-bg-color: #ef493c;
  --card-avatar-red-fg-color: #e01b18;
  --card-avatar-orange-bg-color: #fa681b;
  --card-avatar-orange-fg-color: #f52e12;
  --card-avatar-yellow-bg-color: #d38d1b;
  --card-avatar-yellow-fg-color: #ae4f12;
  --card-avatar-green-bg-color: #13bb7f;
  --card-avatar-green-fg-color: #0d8942;
  --card-avatar-cyan-bg-color: #13bac0;
  --card-avatar-cyan-fg-color: #0d8790;
  --card-bg-color: #191a24;
  --card-border-color: #303346;
  --card-badge-default-bg-color: #262837;
  --card-badge-default-dot-color: #8187a3;
  --card-badge-default-fg-color: #9fa4ba;
  --card-badge-default-icon-color: #8187a3;
  --card-badge-primary-bg-color: #22254f;
  --card-badge-primary-dot-color: #6479fd;
  --card-badge-primary-fg-color: #819fff;
  --card-badge-primary-icon-color: #6479fd;
  --card-badge-positive-bg-color: #192e2b;
  --card-badge-positive-dot-color: #19c288;
  --card-badge-positive-fg-color: #1bf2ab;
  --card-badge-positive-icon-color: #19c288;
  --card-badge-caution-bg-color: #322524;
  --card-badge-caution-dot-color: #d99524;
  --card-badge-caution-fg-color: #fac227;
  --card-badge-caution-icon-color: #d99524;
  --card-badge-critical-bg-color: #3c2227;
  --card-badge-critical-dot-color: #f25446;
  --card-badge-critical-fg-color: #f98276;
  --card-badge-critical-icon-color: #f25446;
  --card-code-bg-color: #1f202c;
  --card-code-fg-color: #999eb3;
  --card-fg-color: #bec0cd;
  --card-icon-color: #9597a3;
  --card-kbd-bg-color: #191a24;
  --card-kbd-border-color: #303346;
  --card-kbd-fg-color: #999eb3;
  --card-link-fg-color: #8090bd;
  --card-muted-bg-color: #1f202c;
  --card-muted-fg-color: #9597a3;
  --card-skeleton-color-from: #262837;
  --card-skeleton-color-to: #20212e;
  --card-bg2-color: #1f202c;
  --card-link-color: #8090bd;
  --card-hairline-soft-color: #303346;
  --card-hairline-hard-color: #303346;
  box-shadow: var(--card-focus-ring-box-shadow);
  background-color: rgb(25, 26, 36);
}